body {
    color: #555;
    font: normal 10pt "Segoe UI", Arial, Helvetica, sans-serif;
    background: #EFEFEF;
}

p,fieldset,table,pre {
	margin-bottom:1em;
}

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}

h1 {
	/*18px via YUI Fonts CSS foundation*/
	font-size:138.5%;  
}
h2 {
	/*16px via YUI Fonts CSS foundation*/
	font-size:123.1%; 
}
h3 {
	/*14px via YUI Fonts CSS foundation*/
	font-size:108%;  
}

#page {
    width:950px;
    margin:15px auto 30px;
    background: white;
    box-shadow: 0px 15px 40px rgba(50, 50, 50, 0.60);
}

#page > * {
    padding: 0 15px 15px;
}

#header {
    border-top: 4px solid #33B5E5;
}

#logo h1 {
    font-size: 2.7em;
    
}

#mainmenu ul {
}


#mainmenu ul li {
    display: inline;
    padding-right: 1em;
}

#mainmenu li.active a {
    color: #444;
}

#mainmenu a {
    color: #999;
    font-size: 1.8em;
    text-decoration: none;
    text-transform: lowercase;
}

#mainmenu a:hover {
    color: #555;
    text-decoration: underline;
}

#footer {
    padding: 10px 20px;
    font-size: 1em;
    text-align: center;
    border-top: 1px solid #33B5E5;
}

.poster {
    position: relative;
    display: inline;
    margin: 5px 0 10px 0;
}
.poster p {
    margin:0;
    padding: 15px 0 50px 0;
    margin-bottom: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    text-align: center;
}
.poster:hover  p {
    opacity: 1;
}
