body {
    color: #555;
    font: normal 10pt "Segoe UI", Arial, Helvetica, sans-serif;
    background-color: #EFEFEF;
    background-image: url(../images/bg.jpg);
}
h1 {font-size:2em;}
h2 {font-size:1.5em;}

#page {
    width: 950px;
    margin: 15px auto 40px;
    background: white;
    border-top: 4px solid #33B5E5;
    box-shadow: 0px 15px 40px rgba(50, 50, 50, 0.60);
    border-radius: 6px;
}

#header, #mainmenu, #footer, #content {
    padding: 0 15px 0;
}

.container {
    margin-top: 15px;
    margin-bottom: 10px;
}

#header {
    
}

#logo h1 {
    font-size: 3em;
    margin-top: 10px;
}

#login {
    float: right;
    position: relative;
    top: 0px;
    right: 0px;
}

#login ul, #login ul li {
    margin: 0 !important;
    padding: 0 !important;
}

#mainmenu, #fsearch {
    margin: 10px 0;
    padding-right: 0;
}

#mainmenu ul {
    margin: 0;
    padding: 0;
}


#mainmenu ul li, #login ul li, #altnav ul li {
    display: inline;
    padding-right: 1em;
}

#mainmenu li.active a {
    color: #444;
}

#mainmenu li.active a:hover {
    color: #444;
     
}

#mainmenu a {
    color: #999;
    font-size: 1.8em;
    text-decoration: none;
    text-transform: lowercase;
}

#mainmenu a:hover {
    color: #0099FF;
    text-decoration: underline;
}

#altnav ul {
    margin-right: 0;
}

#altnav a {
    color: #999;
    font-size: 1.5em;
    border-top: 2px;
    text-transform: uppercase;
    text-decoration: none;
}

#altnav a:hover {
    color: #0099FF;
    border-top:2px solid #0099FF;
}

#altnav li.active a {
    color: #444;
    border-top:2px solid black;
}

#fsearch {}

#fsearch input {
    background: url(../images/search.png) no-repeat 10px 6px;
    width: 120px;
    border: 2px solid lightgray;
    font-size: 12px;
    padding: 6px 15px 6px 30px;
    outline: none;
    border-radius: 20px;
    color: gray;
}

#fsearch input:focus {
    border: 2px solid #0099FF;
}

#footer {
    padding: 15px 0 5px;
    font-size: 1em;
    text-align: center;
/*    border-top: 1px solid #33B5E5;*/
}

.poster {
    position: relative;
    display: inline;
    
}
.poster p {
    margin: 0 0 3px;
    width: 100%;
    padding: 15px 0 40px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    opacity: 0;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    text-align: center;
}
.poster:hover  p {
    opacity: 1;
}

.poster a {
    color: white;
    text-decoration: none;
}

#poster {
}

#filminfo {
}

#filminfo > ul {
    list-style-type: none;
    padding-left: 0; 
}

#filminfo ul > li {
    padding-bottom: 8px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

